* {
  margin: 0;
  font-family: "LoRes 12 OT", sans-serif;
  box-sizing: border-box;
}
* h1 {
  margin: 5vh;
}

@font-face {
  font-family: "LoRes";
  src: url("../fonts/LoRes12OT-BoldAltOakland.ttf");
  font-style: normal;
  font-weight: 100;
}
body .container {
  display: flex;
  width: 90vw;
  height: 70vh;
  justify-content: center;
  margin: auto;
}
body .container .P1 {
  background-position: center;
  background-image: url("../img/bg1-01.svg");
  background-repeat: no-repeat;
  width: 50vmin;
  height: 70vh;
  object-fit: fill;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .P1 .decoFrame {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../img/decoframe.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 70%;
  height: 32vh;
  margin: 2rem auto 0 auto;
}
body .container .P1 .decoFrame .pokemonIcon {
  border-radius: 7px;
  border: 3px solid black;
  background: #ffe69a;
  width: 80%;
  margin: 5vh auto 0 auto;
  height: 18vh;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}
body .container .P1 .decoFrame .pokemonIcon .pokeIcon {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
body .container .P1 .decoFrame .pokemonIcon p {
  position: relative;
  margin: 0 auto;
}
body .container .P1 .getinput {
  margin: 2vh auto;
  position: relative;
}
body .container .P1 #input {
  border: black 3px solid;
  border-radius: 7px;
  padding: 1.2vw;
  position: relative;
}
body .container .btn {
  position: relative;
  border: black 3px solid;
  border-radius: 5px;
  padding: 1.2vw;
  background: #ffd39a;
}
body .container .btn:hover {
  background: #ffa65b;
  transition: all 0.2s;
}
body .container .P2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: url("../img/bg2-02.svg");
  background-repeat: no-repeat;
  width: 60vmin;
  height: 70vmin;
  background-position: center;
  text-align: center;
}
body .container .P2 .description {
  margin: 22vh 9vw 0 9vw;
  position: relative;
  font-size: smaller;
}
body .container .P2 .movesList {
  margin-top: 20vmin;
  align-self: center;
}
body .container .P2 .EvolutionIcon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
body .container .P2 .evolutionName {
  display: flex;
}
body .container .P2 .buttons {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 20vmin 2vmin 0 28vmin;
}
body ul {
  list-style-type: none;
}
@media only screen and (max-width: 600px) {
  body .container {
    display: block;
    width: 90vw;
    height: 90vmax;
    justify-content: center;
    margin: auto;
  }
  body .container .P1, body .container .P2 {
    margin: auto;
    width: 80vmin;
    height: 90vmin;
    text-align: center;
  }
  body .container .P1 .description, body .container .P2 .description {
    margin: 30vmin 18vw 0 18vw;
    position: relative;
    font-size: smaller;
  }
  body .container .P1 .buttons, body .container .P2 .buttons {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 20vmin 2vmin 0 35vmin;
  }
}

/*# sourceMappingURL=main.css.map */
