
*{
  margin: 0;
  font-family: "LoRes 12 OT", sans-serif;
  box-sizing: border-box;
  h1{
    margin: 5vh;
  }

}

@font-face {
  font-family: "LoRes";
  src: url("../fonts/LoRes12OT-BoldAltOakland.ttf");
  font-style: normal;
  font-weight: 100;
}

body{
  .container{
    display: flex;
    width: 90vw;
    height: 70vh;
    justify-content: center;
    margin: auto;


    .P1{
      background-color: #e54a52;
      border-radius: 7px;
      border:  3px solid black;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr  1fr;
     // background-image: url("../img/bg1-01.svg");
      background-repeat: no-repeat;
      width: 60vmin;
      height: 100%;
      object-fit: fill;
      background-position: center;
      text-align: center;
      .pokemonIcon{
        border-radius: 7px;
        border:  3px solid black;
        background: #ffe69a;
        width: 30vh;
        margin: 10vh auto 0 auto;
        height: 200px;
        display: flex;
        justify-self: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .pokeIcon{
          position: relative;
          width: 30%;
          margin: 0 auto;
        }
      }
      .getinput{
        margin: 2vh auto;
        position: relative;
      }
      #input{
        border: black 3px solid;
        border-radius: 7px;
        padding: 1.2vw;
        position: relative;
      }

    }
    .btn{
      position: relative;
      border: black 3px solid;
      border-radius: 5px;
      padding: 1.2vw;
      background: #ffd39a;


    }.btn:hover{
       background: #ffa65b;
       transition: all 0.2s;
     }

    .P2{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr  1fr;
      background-image: url("../img/bg2-02.svg");
      background-repeat: no-repeat;
      width: 60vmin;
      height: 70vmin;
      background-position: center;
      text-align: center;
.description{
  margin: 22vh 9vw 0 9vw;
  position: relative;
  font-size: smaller;

}
      .movesList{
        margin-top: 20vmin;
        align-self: center;
      }
      .EvolutionIcon{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
      }
      .evolutionName{
        display: flex;
      }

      .buttons{

        grid-row: 2/3;
        grid-column: 1/2;
        margin: 20vmin  2vmin 0 28vmin;
      }

    }

  }


  ul{
    list-style-type: none;
  }
  @media only screen and (max-width: 600px) {
    .container {

      display: block;
      width: 90vw;
      height: 90vmax;
      justify-content: center;
      margin: auto;

      .P1,.P2{
        margin:auto;
        width: 80vmin;
        height: 90vmin;
        text-align: center;
        .description{
          margin: 30vmin 18vw 0 18vw;
          position: relative;
          font-size: smaller;

        }
        .getinput{
          margin: 15vh 3vw 0 0;
          position: relative;
        }
        .buttons{
          grid-row: 2/3;
          grid-column: 1/2;
          margin: 20vmin  2vmin 0 35vmin;
        }

      }

    }

  }

}

